<html>
<head>
    <title>Ibm-assignment-3</title>
    <link rel="stylesheet" href="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/assignment3-stylesheet.css">
</head>
<body>
    <!-- MAIN (Center website) -->
<div class="main">

<h1>IBM cloud object</h1>
<hr>

<h2>IMAGE PORTFOLIO</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/denji.jpg" alt="DENJI" style="width:100%">
      <h3>CHAINSAW MAN</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/eren%20yeager.jpg" alt="EREN" style="width:100%">
      <h3>ATTACK ON TITAN</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/luffy.jpg" alt="LUFFY" style="width:100%">
      <h3>ONE PIECE</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/manjiro.png" alt="MANJIRO" style="width:100%">
      <h3>TOKYO REVENGERS</h3>
      
    </div>
  </div>
</div>

<div class="content">
  <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/deathnote.jpg" alt="LIGHT YAGAMI" style="width:100%">
  <h3>DEATH NOTE</h3>
  
</div>

<!-- END MAIN -->
</div>
</body>
    <html>