<html>
<head>
    <title>Ibm-assignment-3</title>
    <link rel="stylesheet" href="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/assignment3-stylesheet.css">
</head>
<body>
    <!-- MAIN (Center website) -->
<div class="main">

<h1>IBM cloud object - siva sathiya.k </h1>
<hr>

<h2>SOUTH INDIAN HERO'S</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/img1.jpg" alt="SUPERSTAR" style="width:100%">
      <h3>RAJINIKANTH</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2.jpg" alt="THALAPATHY" style="width:100%">
      <h3>VIJAY</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/img3.jpg" alt="THALA" style="width:100%">
      <h3>AJITH KUMAR</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/img4.jpg" alt="ULAGA-NAYAGAN" style="width:100%">
      <h3>KAMAL HAASAN</h3>
      
    </div>
  </div>
</div>

<div class="content">
  <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/img5.jpg" alt="D" style="width:100%">
  <h3>DHANUSH</h3>
  
</div>

<!-- END MAIN -->
</div>
</body>
    <html>