<!-- Assignment 3 - Done by Krishna Prasath P -->

<html>
<head>
    <title>Ibm-Assignment-3</title>
    <link rel="stylesheet" href="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Assignment3_CSS.css">
</head>
<body>

    <!-- MAIN (Center website) -->

<div class="main">

<h1>IBM cloud object</h1>
<hr>

<h2>KING STEVE HARRINGTON</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Gallery Grid -->

<div class="row">
  <div class="column">
    <div class="content">
      <img src="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Steve%201.jpeg" alt="Steve1" style="width:100%">
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Steve%202.jpeg" alt="Steve2" style="width:100%">
      
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Steve%203.jpeg" alt="Steve3" style="width:100%">
      
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Steve%204.jpeg" alt="Steve4" style="width:100%">
      
    </div>
  </div>
</div>

<div class="content">
  <img src="https://imagekingstevebucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/Steve%205.jpeg" alt="Steve5" style="width:100%">
  <h3> Fan Page of King Steve ! Hail Steve ! This characthers are subjected to be in Stranger Things.</h3>
</div>

<!-- END MAIN -->

</div>
</body>
    <html>



<!-- Done By Krishna Prasath P -->
